/**
 * Registration station specific styles.
 *
 * Primary: Magenta
 * Secondary: Aqua
 * Tertiary: Yellow
 * Base: Black
 */

html {
    height: 100%;
}

body {
    height: 100%;
}

.fill {
    min-height: 100%;
    height: 100%;
}
