/**
 * Registration station specific styles.
 *
 * Primary: Magenta
 * Secondary: Aqua
 * Tertiary: Yellow
 * Base: Black
 */

html {
    height: 100%;
}
body {
    font-size: x-large;
    font-family: monospace;
    height: 100%;
    overflow-y: hidden;
}
.fill {
    min-height: 100%;
    height: 100%;
}
h1 {
    color: magenta;
}
hr {
    border-top: 2px solid black;
}
input[type="text"] {
    font-size: larger;
}
input[type="submit"] {
    display: none;
}

/**
 * Welcome screen.
 */

#welcome {
    background-image: url("./img/background.jpg");
    background-attachment: fixed;
    background-color: black;
    padding-top: 20px;
}
#welcome .welcome-text {
    font-size: 1.2em;
    color: aqua;
}
#welcome .welcome-text .register {
    font-size: 1.5em;
    color: aqua;
    margin-top: 1em;
    margin-bottom: 1em;
}

#welcome .score-tables {
    padding-top: 40px;
}
#welcome .score-table {
    padding-left: 30px;
    padding-right: 30px;
    color: white;
    font-size: 0.8em;
}
#welcome .score-tables .title {
    font-size: 1.2em;
    color: magenta;
}

/**
 * Registration screen.
 */

#registration .instructions {
    font-size: larger;
    margin-bottom: 2em;
    margin-top: 2em;
}

/**
 * Success screen.
 */

#success {
    background-color: aqua;
}

/**
 * Error screen.
 */

#error {
    color: magenta;
    background-color: black;
    font-size: x-large;
}
#error hr {
    border-top: 2px solid magenta;
}

/**
 * Blinking cursor animation, courtesy of Artem Gordinsky from
 * http://codepen.io/ArtemGordinsky/pen/GnLBq.
 */

.blinking-cursor {
    font-weight: 100;
    animation: 1s blink step-end infinite;
}
@keyframes "blink" {
    from, to {
        color: transparent;
    }
    50% {
        color: yellow;
    }
}
@-webkit-keyframes "blink" {
    from, to {
        color: transparent;
    }
    50% {
        color: yellow;
    }
}
